* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    min-height: 100vh;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root{
    --moderateCyan: hsl(176, 50%, 47%);
    --Darkcyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Darkgray: hsl(0, 0%, 48%);
    
}