@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200;300;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: 'Commissioner', sans-serif;
    background-color: hsl(0, 0%, 94%);
}

header{
    background-image: url(./images/image-hero-desktop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 350px;
}

header .menus{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

header .links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;    
}

header .menus .links ul li{
    margin: 0px 10px;
    color: var(--white);
    cursor: pointer;
}

section{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

section .riserContainer{
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 80px;
    width: 700px;
    margin: -50px 0px 20px 0px;
    z-index: 1;
    border-radius: 10px;
}

section .riserContainer img{
    margin: -110px 0px 0px;
    width: 60px;
}

section .riserContainer .Btnbookmark{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

section .riserContainer .Btnbookmark .btpBtn input{
    background-color: var(--Darkcyan);
    cursor: pointer;
    padding: 20px;
    border-radius: 50px;
    border: none;
    color: var(--white);
}

section .numbers{
    background-color: var(--white);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px;
    width: 700px;
    margin: 20px auto;
    border-radius: 10px;
}

section .aboutProject{
    background-color: var(--white);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px;
    width: 700px;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
}

.riserContainer {
    background: var(--Darkgray);
}

.attribution {
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root{
    --moderateCyan: hsl(176, 50%, 47%);
    --Darkcyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Darkgray: hsl(0, 0%, 48%);
    --white: #fff;
}