@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200;300;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: 'Commissioner', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    position: sticky;
    top: 0;
    background-color: var(--Darkgray);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

header .links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;    
}

ul li{
    margin: 0px 10px;
    color: var(--white);
    cursor: pointer;
}

section{
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

section .riserContainer{
    display: flex;
}

.riserContainer {
    background: var(--Darkgray);
}

.attribution {
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root{
    --moderateCyan: hsl(176, 50%, 47%);
    --Darkcyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Darkgray: hsl(0, 0%, 48%);
    --white: #fff;
}