@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200;300;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: 'Commissioner', sans-serif;
    background-color: hsl(0, 0%, 94%);
}

header{
    background-image: url(./images/image-hero-desktop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
}

header .menus{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

header .links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;    
}

header .menus .links ul li{
    margin: 0px 10px;
    color: var(--white);
    cursor: pointer;
}

section{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

section .riserContainer{
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    padding: 80px;
    width: 700px;
    margin: -150px 0px 0px;
    z-index: 1;
    border-radius: 10px;
}

section .riserContainer img{
    margin: -110px 0px 0px;
    width: 60px;
}

section .riserContainer .Btnbookmark{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section .riserContainer .Btnbookmark .btpBtn input{
    background-color: var(--moderateCyan);
    cursor: pointer;
    width: 150px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    color: var(--white);
    font-weight: 700;
    transition: 0.5s;
}

section .riserContainer .Btnbookmark .btpBtn input:hover{
    background-color: var(--Darkcyan);
}

.bookMark {
    width: 160px;
    display: flex;
    justify-content: flex-end;
    background-color: hsl(0, 0%, 90%);
    border-radius: 40px;
    padding: 12px 15px;
    position: relative;
}

.bookMark .divIcon{
    position: absolute;
    top: 30px;
    left: 0;
    cursor: pointer;
}

.bookmarkText{
    display: flex;
    align-items: center;
}

.bookMark .divIcon img {
    width: 45px;
}

section .numbers{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    width: 700px;
    margin: 20px auto;
    border-radius: 10px;
    font-size: .9rem;
    text-align: left;
}

.numbersDiv{
    align-items: center;
    display: flex;
    gap: 30px;
    width: 700px;
    font-size: .9rem;
}

.numbers h1{
    font-size: 1.9rem;
}

.numbers p{
    font-size: .8rem;
    color: var(--Darkgray);
}

.numbers .ofHundred, .totalBackers{
    border-right: 2px solid hsl(0, 0%, 90%);
    padding-right: 50px;
}

.progress{
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 90%);
    position: relative;
}

.progress::before{
    content: "";
    width: 80%;
    height: 8px;
    background-color: var(--moderateCyan);
    position: absolute;
    border-radius: 10px;
}

section .aboutProject{
    background-color: var(--white);
    display: flex;
    gap: 30px;
    padding: 50px;
    width: 700px;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 30px;
}

section .aboutProject h1{
    font-size: 1.3rem;
    font-weight: 700;
}

.bambooStand{
    border: 1.5px solid hsl(0, 0%, 90%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.disable{
    border: 1.5px solid hsl(0, 0%, 90%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 30%;
}

.bambooStand .heading{
    display: flex;
    justify-content: space-between;
    font-size: .6rem;
}

.bambooStand .heading h2{
    color: var(--moderateCyan);
    cursor: pointer;
}

.reward{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.reward p{
    font-size: 1.5rem;
    font-weight: 700;
}

.reward p span{
    font-size: .8rem;
    font-weight: 500;
    position: absolute;
    top: 10;
    margin-left: 5px;
}

.reward input, .thankYouBtn button{
    background-color: var(--moderateCyan);
    cursor: pointer;
    width: 150px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    color: var(--white);
    font-weight: 700;
    transition: 0.5s;
}

.reward input:hover, .thankYouBtn button:hover{
    background-color: var(--Darkcyan);
}


.riserContainer {
    background: var(--Darkgray);
}

.reward .disabled{
    cursor: pointer;
    width: 150px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    color: var(--white);
    font-weight: 700;
    transition: 0.5s;
    background-color: hsl(0, 0%, 90%);
}

.reward .disabled:hover{
    background-color: var(--Darkgray);
}

.thankYou{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background-color: var(--white);
    z-index: 100;
    padding: 50px;
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.overlay{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    /* overflow: none; */
    /* display: none; */
}

.backProject{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 730px;
    background-color: var(--white);
    z-index: 100;
    padding: 50px;
    border-radius: 10px;
    /* display: none; */
}

.backProject p{
    margin: 15px auto;
    color: hsl(0, 0%, 78%);
    font-size: 1rem;
}

.backProjHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backProjHeading path{
    fill: #000;
    cursor: pointer;
}

.pledgeBox {
    margin: 10px auto;
}

.pledge{
    border: 2px solid hsl(0, 0%, 82%);
    padding: 20px;
    border-radius: 10px;   
    margin-bottom: 25px;
}

.pledgeCheckbox label {
    margin-left: 15px;
}

.pledgeCheckbox2{
    display: flex;
    justify-content: space-between;
    margin-bottom: -30px;
}

.pledgeLeft p{
    font-size: 1rem;
    font-weight: 700;
}

.pledge p{
    margin-left: 30px;
    color: var(--Darkgray);
}

.pledgeInputs input:hover, label:hover{
    color: var(--moderateCyan);
    cursor: pointer;
}

.pledgeInputs label{
    margin-left: 15px;
}

.pledgeInputs {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.pledgeInputs p{
    color: var(--moderateCyan);
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    outline: 2px solid var(--moderateCyan);
    background-color: transparent;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.5s;
}

input[type="checkbox"]:checked{
    background-color: var(--moderateCyan);
    outline: none;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text h1, .backProjHeading h1{
    font-size: 1.3rem;
}

.text p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--Darkgray);
    opacity: 60%;
}

.confirmPledge{
    display: none;
}

hr{
    width: 629px;
    margin: auto -20px;
    background-color: hsl(0, 0%, 82%);
    opacity: 40%;
    margin-bottom: 20px;
}

.enterPledge{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="number"]{
    border: 1.5px solid var(--Darkgray);
    width: 90px;
    height: 30px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Commissioner', sans-serif;
}

input[type="number"]:focus{
    outline: 2.5px solid var(--moderateCyan);
    border: none;
}

.confirm{
    background-color: var(--moderateCyan);
    cursor: pointer;
    width: 100px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    color: var(--white);
    font-weight: 700;
    transition: 0.5s;
}

.confirm:hover{
    background-color: var(--Darkcyan);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root{
    --moderateCyan: hsl(176, 50%, 47%);
    --Darkcyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Darkgray: hsl(0, 0%, 48%);
    --white: #fff;
}
